body {
  background-color: #fff;
  color: #4d4d4d;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  max-width: 1024px;
  padding: 20px 20px 20px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  text-align: center;
}
